.btn {
  &,
  &:link,
  &:visited {
    border-radius: 9px;
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    text-decoration: none;

    /* Put transition on original "state" */
    transition: all 0.3s;

    // Only necessary for .btn
    border: none;
    cursor: pointer;
    font-family: inherit;
  }

  &--full:link,
  &--full:visited {
    background-color: #e67e22;
    color: $white;
  }

  &--full:hover,
  &--full:active {
    background-color: $primary-color-dark;
  }

  &--outline:link,
  &--outline:visited {
    background-color: $white;
    color: #555;
  }

  &--outline:hover,
  &--outline:active {
    background-color: #fdf2e9;

    /* border: 3px solid $white; */

    /* Trick to add border inside */
    box-shadow: inset 0 0 3px $white;
  }

  &--form {
    align-self: end;
    background-color: $primary-color-darker;
    color: $tint;
    padding: 1.2rem;

    &:hover {
      background-color: $white;
      color: $greys-light;
    }
  }
}

.link {
  &:link,
  &:visited {
    border-bottom: 1px solid currentColor;
    color: $primary-color;
    display: inline-block;
    padding-bottom: 2px;
    text-decoration: none;
    transition: all 0.3s;
  }

  &:hover,
  &:active {
    border-bottom: 1px solid transparent;
    color: $primary-color-dark;
  }
}


