.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;

  &-item {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    gap: 1.6rem;
    line-height: 1.2;
  }

  &-icon {
    height: 3rem;
    stroke: $primary-color;
    width: 3rem;
  }
}
