$primary-color: #e67e22;
$primary-color-dark: #cf711f;
$tint: #fdf2e9;
$tint-lighter: #eb984e;
$tint-darker: #fae5d3;
$greys-light: #555;
$greys-dark: #333;
$greys-lighter: #767676;
$greys-lightest: #6f6f6f;
$green: #51cf66;
$lime: #94d82d;
$yellow: #ffd43b;
$primary-color-darker: #45260a;
$white: #fff;
