.section-hero {
  background-color: $tint;
  padding: 4.8rem 0 9.6rem 0;

  .hero {
    align-items: center;
    display: grid;
    gap: 9.6rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 130rem;
    padding: 0 3.2rem;

    .hero-description {
      font-size: 2rem;
      line-height: 1.6;
      margin-bottom: 4.8rem;
    }

    .delivered-meals {
      align-items: center;
      display: flex;
      gap: 1.6rem;
      margin-top: 8rem;

      .delivered-imgs {
        display: flex;

        img {
          border-radius: 50%;
          border: 3px solid $tint;
          height: 4.8rem;
          margin-right: -1.6rem;
          width: 4.8rem;

          &:last-child {
            margin: 0;
          }
        }
      }

      .delivered-text {
        font-size: 1.8rem;
        font-weight: 600;

        span {
          color: $primary-color-dark;
          font-weight: 700;
        }
      }
    }

    .hero-img {
      width: 100%;
    }
  }
}
