/* *************************************
      HOW IT WORKS SECTION
****************************************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    border-radius: 50%;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    background-color: $tint;
    padding-bottom: 60%;
    width: 60%;
    z-index: -2;
  }

  &::after {
    background-color: $tint-darker;
    padding-bottom: 45%;
    width: 45%;
    z-index: -1;
  }
}

.step-img {
  width: 35%;
}
